.gr{
    display: flex;
    flex-direction: row;
}
.item1{
    background-color: green; width: 100px; height: 300px;
}
.item2{
    background-color: yellow; width: 100px; height: 300px; 
}
.item3{
    background-color: red; width: 100px; height: 300px;
}